body {
    /* display: grid; */
    background-color: mintcream;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main {
    text-align: center;
    margin: auto;
    border: 5em;
}
#card {
    height: 150px;
    width: 300px;
    background-color: mediumturquoise;
    grid-template: 300px / 600px;
    font-size: 40px;
    border: 5em;
}

button {
    background-color: #ff6b6b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: 5em;
}